body{

}
img{

}
.col-sm-12{
    background-color: lightgrey;
    border: lightgrey;
    padding: 15px;

}

.navbar{
    padding: 10px;
    text-align: center;
}

.headers{
    text-align: center;
    padding: 80px;
    background-color: lightgrey;
}

.circle {
    width: 200px;
    height: 200px;
    line-height: 170px;
    border: white solid 15px;
    border-radius: 50%;
    font-size: 30px;
    color: #fff;
    text-align: center;
    background: #000
}

.circles{
    display: flex;
    justify-content: flex-start;
    flex-flow: row wrap;
}

#red{
    background-color: #e6563b;
}

#orange{
    background-color:#DEA03D
}

#green{
    background-color:#7CB06C
}

#blue{
    background-color:#00ABA9
}
@media screen and (min-width:768px){}